<div class="col-10 offset-1">
    <form  [formGroup]="contactForm" (ngSubmit)="sendMail()" class="needs-validation">
        <div class="form-group">
            <label for="contact-form--name">Name</label>
            <input type="text" class="form-control" [ngClass]="{'is-invalid': name.invalid && (name.dirty || name.touched)}" placeholder="Full name" formControlName="name" required>
          </div>
        <div class="form-group">
            <label for="contact-form--email">Email address</label>
            <input type="email" class="form-control" [ngClass]="{'is-invalid': email.invalid && (email.dirty || email.touched)}" placeholder="Enter email" formControlName="email" required>
        </div>
        <div class="form-group">
            <label for="contact-form--textarea">Message</label>
            <textarea class="form-control" [ngClass]="{'is-invalid': message.invalid && (message.dirty || message.touched)}" rows="5" formControlName="message" required></textarea>
        </div>
        <button type="submit" [disabled]="!contactForm.valid" class="btn btn-dark">Submit</button>
      </form>   
</div>
