<div class="col-10 offset-1">
    <div class="row">
      <h2>Cross Everything</h2>
    </div>
    <div class="row break"> 
    <p>Publishes 18th February 2021 on Bloomsbury/Green Tree</p>
    </div>
    <div class="row break">
      <p>Henry Scowcroft is an experienced, award-winning science writer, with degrees in Biochemistry and Science Communication.</p>
    </div>
    <div class="row break">
      <div class="col-8 offset-2 text-center">
        <img src="assets/cross_everything_cover.jpg" class="img-fluid" alt="Cover for Cross Everthing">
      </div>
    </div>
    <div class="row break">
      <div class="col-12">
      <div class="card">
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>"A moving, compelling and vital book, that sheds much needed light on the very latest understanding of cancer."</p>
            <footer class="blockquote-footer"><cite title="Source Title"> Siddhartha Mukherjee</cite>, author of The Emperor of All Maladies</footer>
          </blockquote>
        </div>
      </div>
    </div>
    </div>    
  </div> 