<div class="row">
  <div class="col-10 offset-1">
    <div *ngIf="content">
        <h1 *ngIf="showTitle" [ngClass]="'first second'">{{content.title}}</h1>
        <div *ngIf="contentType=='blog'" class="mb-1 text-muted">Posted by Henry on {{ content.date | date: 'longDate' }}</div>
        <script src="https://gist.github.com/jamesdesq/3786dd93e13a306874443ebd9e8a8bf8.js"></script>
        <div *ngFor="let paragraph of content.bodyText">
          <div [ngSwitch]="paragraph.type">
            <p *ngSwitchCase="'paragraph'" innerHTML="{{ paragraph.text }}">
            </p>
            <h2 *ngSwitchCase="'heading-2'">
              {{ paragraph.text }}
            </h2>
            <h3 *ngSwitchCase="'heading-3'">
              {{ paragraph.text }}
            </h3>
            <ul *ngSwitchCase="'unordered-list'">
              <li *ngFor = "let item of paragraph.text" [innerHTML]="item"></li>
            </ul>
            <div *ngSwitchCase="'image'">
              <div class="col-md-6 offset-md-3 col-sm-12">
                <img src="{{paragraph.text}}">
              </div>
            </div>
            <div class="code-container" *ngSwitchCase="'code'">
              <pre><code class="rounded" innerHTML="{{ paragraph.text }}"></code></pre>
            </div>
            <div *ngSwitchCase="'app-popout-card'">
              <app-popout-card [content]="paragraph.content"></app-popout-card>
            </div>
            <div *ngSwitchCase="'app-bar'">
              <app-bar [content]="paragraph.content"></app-bar>
            </div>
            <div *ngSwitchCase="'app-quote-block'">
              <pre>{{ paragraph.content | json }}</pre>
              <app-quote-block [content]="paragraph.content"></app-quote-block>
            </div>
            <div *ngSwitchCase="'bar-overlay'">
              <app-bar-overlay [content]="paragraph.content"></app-bar-overlay>
            </div>
            <div *ngSwitchDefault></div>
          </div>
        </div>
      </div>
      <div *ngIf="!content">
        <h2>Nothing here...</h2>
      </div>
  </div>
</div>